parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Rollerworks\\\\Component\\\\X509Validator\\\\CertificateValidator\\:\\:\\$now\\.$#"
			count: 1
			path: tests/CertificateValidatorTest.php
